<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <title>makeMenu</title>

    <script>
        function show(){
            var overlay = document.getElementById('overlay');
            overlay.style.visibility = "visible";
        }

        function changeImage(element){
            element.setAttribute("src","/image/googleLogo2.svg");
            element.style.borderRadius = "20px";
        }
    </script>

</head>
<body>

    <img src="/image/logo.svg" class="logo" alt="logo">

    <div class="container">

        <div class="box1">
            <img src="/image/subscribe.svg" class="imageIcon" alt="subscribe icon">
            <p class="title">LOGIN</p>
        </div>
        <div class="box2">
            <img src="/image/create.svg" class="imageIcon" alt="create icon">
            <p class="title">PERSONALIZE</p>
        </div>

        <div class="box3">
            <img src="/image/export.svg" class="imageIcon" alt="export icon">
            <p class="title">EXPORT</p>
        </div>
    </div>

<div class="buttons">
    <div class="loginWith">Login with</div>
    <a href="/login/google" type="submit"><img class="googleIcon" src="/image/googleLogo.svg" onmouseover="changeImage(this)" onmouseout="this.setAttribute('src','/image/googleLogo.svg')"></a>
</div>

<div class="navbar">
    <button onclick="show()">What's makeMenu</button>
        <div class="overlay" id="overlay" onclick="document.getElementById('overlay').style = hidden;">
            <h1 class="titleDescription">Why makeMenu?</h1>
            <p class="description">
                He comes to the rescue of the restaurateurs.
                It allows the creation of the ad hoc menu for each restaurateur in a simple and intuitive way.
                After the creation of the customized menu allows you to export it via PDF for printing and
                QRCode so you can use it for your catering activities
            </p>
            <p class="click">Click anywhere to go back</p>
            <img src="/image/logo2.svg" class="logo2" alt="logo">
        </div>
</div>
</body>
</html>
