<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/QRcode.css">
    <title>QRcode</title>
</head>
<body>
        <img class="logoQR" src="../../image/logo.svg">
        <img class="qrcode" src="<%= qrcode %>">

        <button onclick="printDiv()">STAMPA</button>
</body>
</html>