/* generic font */
@font-face {
    font-family: myFont;
    src: url("../Fonts/Eri Light Serif.ttf");
}

*{
    font-family: myFont;
    font-size: 0.93em;
    font-weight: bold;
}

/* Page Style */
body{
    background-image: url("../image/bg.png");
}

p.title_1{
    text-align: center;
    color: white;
    background-color: #c00000;
    margin-bottom: 0;
    border-radius: 100px;
    font-size: 1em;
}

#container{
    display: flex;
}

/* Tool container Style */
#tool{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-start;
    margin-bottom: 1em;
    min-height: 40rem;
}
#tool > button,label{
    background-color: rgb(66, 64, 64);
    border-style: none;
    height: 4em;
    padding: 1em;
    margin-top: 0.5em;
    color: white;
    font-size: 1.5em;
    border-radius: 20px;
    text-align: center;
}


#tool > button:hover {
    color: #ffc000;
}
input[type="color"]{
    background-color: #4b4b4b;
    width: 10em;
    height: 5em;
    content: "Colore";
    color: white;
    opacity: 0;
    display: none;
}

.linkHome{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: myFontLogo;
}

.logoImage{
    font-family: myFontLogo;
}

img{
    max-width: 12em;
}

/* Export tool style */
#export_tool{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: #ffc000;
    border-radius: 20px;
}

#export_tool > .export{
    margin-right: 1em;
    margin-left: 1em;
    background-color: #c00000;
    font-size: 1em;
    color: white;
    font-size: 1rem;
    padding: 2em 4em;
    border-radius: 20px;
    border-style: none;
}

.editSpan {
    font-size: 3.5em;
    cursor:pointer;
    color: #c00000;
}

#export_tool > button:hover {
    color: #c00000;
    box-shadow:0px 0px 20px #c00000;
    font-weight: bold;
    border-color: #c00000;
    background-color: white;
}

#export_tool > .tutorial{
    background-color: #c00000;
    font-size: 1em;
    color: white;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 20px;
    border-style: none;
}

/* frame style */
#frameContainer{
    margin: auto;
    padding-left: 2em;
    padding-right: 2em;
    resize: both;
    width: 70%;
    height: 80rem;
    border-style: solid;
    border-color: black;
    border-width: thin;
    background-color: white;
    font-size: 30px;
}
#titleMenu{
    text-align: center;
    font-size: 40px;
}

table{
    margin: auto;
    width: 100%;
}
td{
    border-style: solid;
    border-radius: 10px;
    border-color: gray;
    border-width: 2px;
}
td.itemDescription{ font-style: italic; text-align: center }
td.itemDescription::before{ content: "("; }
td.itemDescription::after{ content: ")"; }
td.itemPrice::after{ content: "€"; }
td.itemPrice{ text-align: right }

div.overlay{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width:100%;
    height:100%;
    background-color: black;
    color: white;
    visibility: hidden;
    opacity: 0.9;
    cursor: pointer;
}

p.overlayDescription{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: white;
    user-select: none;
    width: 60%;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    margin: auto;
    justify-items: center;
    border-top-style:none;

}

p.overlayTitle{
    background-color: #c00000;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: white;
    user-select: none;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    width: 60%;
    margin: auto;
    margin-top: 30px;
    border-bottom-style:none;

}

img.logo2{
    width: 30em;
    bottom: 5px;
    margin: auto;
    margin-bottom: 30px;
}

p.click{
    bottom: 205px;
    font-size: 2em;
    color: #ffc000;
    font-weight: bold;
    margin: auto;
    margin-top: 30px;
}


/* Grid Layout for responsive */
*{ box-sizing: border-box; }

/* definizione colonne */
.col-1{width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Ogni colonna avrà un padding di 15px e dovrà essere orientata verso sinistra */
[class*="col-"] {
    float: left;
    padding-bottom: 2rem;

}

/* Risolve il problema degli elementi che si posiziona come se le colonne sinistre non esistessero */
[class*="row-"]::after{
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 1024px) {
    [class*="col-"]{
        width: 100%;
    }
    #export_tool{
        justify-content: center;
    }
}

@media only screen and (min-width: 1080px){
    #tool{
        width: 29em;
    }
}

/* SideNav */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #393838;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}





