.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-family: 'Eri Serif';
    font-weight: bold;
    text-align: center;
    font-size: 3.5em;
    margin-top: 1.2em;
}
p{
    border-bottom: groove;
    border-width: 10px;
}
div{
    background-color: #FFCD33;
    padding: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    width: 70em;
    height: 15em;
    margin: auto;
}
img.icon{
    height: 14em;
    width: 14em;
    border-radius: 40px;
    transition-duration: 400ms;
    margin: 4em;
    transition-property: outline-width, transform;
}
img.icon:hover{
    outline-style: groove;
    outline-color: red;
    transform: rotate(360deg);
    outline-width: 10px;
    box-shadow: 15px 2px 7px black;
}