/* generic font */
*{
    font-family: "Eri Light Serif";
    font-size: 0.93em;
}

/* Wallpaper */
body{
    background-image: linear-gradient(216.7deg, #ebe5e5 60%, #ffc000 60%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* SVG Logo */
img.logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    display: flex;

}

/* Log/Reg Button Style */
div.buttons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
}
.button{
    background-color: #c00000;
    font-size: 2em;
    font-weight: bold;
    color: white;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 30px;
    border-style: none;
}

.button:hover{
    color: #c00000;
    box-shadow:0px 0px 20px #c00000;
    font-weight: bold;
    border-color: #c00000;
    background-color: #ffc000;
    transform: translateY(-10%);
    transition-duration: 200ms;
}
/* Animation of Presentation */
@keyframes rotation {
    from{ transform: rotate(10deg);}
    to{ transform: rotate(-10deg); }
}
@keyframes colori{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

@keyframes animazione1{
    0%{opacity: 0;}
    20%{opacity: 1;}
    30%{opacity: 0;}
}
@keyframes animazione2{
    30%{opacity: 0;}
    50%{opacity: 1;}
    60%{opacity: 0;}
}
@keyframes animazione3{
    60%{opacity: 0;}
    90%{opacity: 1;}
    100%{opacity: 0;}
}

/* Presentation Style */
div.container{
    background: linear-gradient(45deg,#c00000,#ffc000);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-size: 300% 300%;
    animation: colori infinite 10s ease-in-out;
    border-radius: 110px;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
img.imageIcon{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.7em;
    display: flex;
    width: 13em;
    height: 13em;
    animation-duration: 5s;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}
div.box1{
    opacity: 0.0;
    animation: animazione1 10s normal infinite;
}

div.box2{
    opacity: 0.0;
    animation: animazione2 10s normal infinite;
}

div.box3 {
    opacity: 0.0;
    animation: animazione3 10s normal infinite;
}

p.title {
    font-size: 2.8em;
    text-align: center;
    font-weight: bold;
    color: white;
    user-select: none;
}

div.navbar{
    position: fixed;
    bottom: 0;
    width: 100%;
}

div.navbar button {
    float: left;
    display: block;
    color: #c00000;
    padding: 1em;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    background: rgba(0,0,0,0);
    border:0;

}

div.navbar button:hover {
    float: left;
    display: block;
    color: black;
    padding: 1em;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    background: rgba(0,0,0,0);
    border:0;
}

div.overlay{
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    visibility: hidden;
    opacity: 0.8;
    cursor: pointer;
}

p.description{
    position: fixed;
    font-size: 3.5em;
    text-align: center;
    font-weight: bold;
    color: white;
    user-select: none;
    width: 75%;
    border-style: double;
    border-radius: 8px;
    border-width: 10px;
    top: 85px;
}

img.logo2{
    align-self: flex-end;
    width: 10%;
}

p.click{
    position: fixed;
    bottom: 100px;
    font-size: 3em;
    border-style: solid;
}

p.firma{
    align-self: flex-end;
    font-size: 17px;
    margin-bottom: 7px;
}




