/* default font */
*{
    font-family: "Eri Light Serif";
}

body{
    background-image: linear-gradient(216.7deg, #ebe5e5 60%, #ffc000 60%);
    background-repeat: no-repeat;
    background-attachment: fixed;

}
/* Centered logo */
.center{
    display: block;
    margin:auto;
    margin-bottom: 2em;
}

/* Welcome message style */
h3{
    font-family: "Gemini Moon";
    font-size: 3.5em;
    color:#c00000;
    margin-bottom: 0.5em;
    text-align: center;
}

/* form box style */
div.box{
    background: #ffc000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    padding: 20px;
    width: 25em;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* Input style */
input[type="email"], input[type="password"], input[type="text"]{
    border-style: none;
    background: #f2f2f2;
    width: 100%;
    border-radius: 15px;
    border: none;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: bold;
}
input[type="submit"], input[type="reset"]{
    background-color: #c00000;
    font-size: 1em;
    color: white;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 20px;
    border-style: none;
    margin:auto;
}
input[type="submit"]:hover, input[type="reset"]:hover{
    color: #c00000;
    box-shadow:0px 0px 20px #c00000;
    font-weight: bold;
    border-color: #c00000;
    background-color: white;
}
input[type="email"]:valid{ color: rgb(4, 193, 4); }

/* message style */
#message{
    color: white;
    text-align: center;
}
a:link, a:visited, a:active{
    color: #c00000;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: white;
    text-shadow: 2px 2px 5px black;
}
